<div class="bg">

    <h2>Slot Table</h2>
    
    
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
        
    
            </tr>
            </thead>
            <tbody>
        
                
            <tr>
                <td> <%=@user.email%></td>
                <td> <%=@user.user_rule%></td>
            </tr>
    
           
            <tbody>
        </table>
    </div>
    
      </div>