<div class="container add">
   <h1>  admin Dashboard</h1>

    <%=link_to "category_list",'/category_list',class:"btn btn-danger"%>

    <%=link_to "Service Center", all_shop_service_centers_path,class:"btn btn-danger"%>

    



</div>