<div class="add home">

 
               <div class="row">
                            <div class="col-6">

                              <% if @all %>
                              <%@all.each do |i|%>
                                
                                Shop_name:<%= i.shop_name%>
                                <li class="cards_item">
                                  <div class="card">
                                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                                    <div class="card_content">
                                      <h2 class="card_title">Shop_name :<%= i.shop_name%></h2>
                                      <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                                       <%= link_to 'Resquest for services' ,client_request_path(i.id),class:"btn btn-primary"%>
                                    </div>
                                  </div>
                                </li>
                                <hr>
                                <%end%>
                            
                            
                              <%else%>
                               nothing have to display
                             <%end%>

                          


                            </div>

               </div>



</div>